html {
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



#dashboard-container {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 5fr;
    grid-template-areas: 
        "sidebar    header"
        "sidebar    dashboard";
}

#header {
    grid-area: header;
    box-shadow: -0px 4px 9px 0px rgba(0,0,0,.4);
    -webkit-box-shadow: -0px 4px 9px 0px rgba(0,0,0,.4);
    -moz-box-shadow: -0px 4px 9px 0px rgba(0,0,0,.4);
    z-index: 2;
}

#sidebar {
    grid-area: sidebar;
    background-color: #1992D4;
    display: grid;
    grid-template-rows: 1fr 3fr 3fr;
    gap: 4rem;
    color: white;
}

#logo-container {
    display: grid;
    grid-template-columns: 70px 1fr;
    padding: 1rem;
    align-content: space-between;
    align-items: center;
    gap: .5rem;
}

#logo {
    height: 70px;
}

#sidebar ul {
    list-style: none;
    font-weight: bold;

}

#sidebar ul li {
    margin-top: 1rem;
}

li img {
    height: 1.25rem;
    margin-right: 1rem;
    vertical-align: text-bottom;
}

#info-container {
    align-self: end;
}

#dashboard {
    grid-area: dashboard;
    background-color: #E2E8F0;
}