html {
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



#dashboard-container {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: minmax(280px, 400px) 3fr;
    grid-template-rows: 200px 1fr;
    grid-template-areas: 
        "sidebar    header"
        "sidebar    dashboard";
}

#header {
    grid-area: header;
    box-shadow: -0px 4px 9px 0px rgba(0,0,0,.4);
    -webkit-box-shadow: -0px 4px 9px 0px rgba(0,0,0,.4);
    -moz-box-shadow: -0px 4px 9px 0px rgba(0,0,0,.4);
    z-index: 2;
    padding: .25rem 1.5rem;
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: 1fr 2fr;
}

#header img {
    height: 1.25rem;
}

#search-area {
    display: grid;
    grid-template-columns: 2rem 1fr;
    align-items: center;
}

#search-area button {
    border: none;
    appearance: none;
    background-color: inherit;
    cursor: pointer;
    height: 1.25rem;
}

#search {
    border-radius: .75rem;
    border-style: none;
    background-color: #E2E8F0;
    padding: .25rem .75rem;
    font-size: 1rem;
    width: 100%;
    min-width: 100px;
}

#search-area label {
    display: none;
}

#search:focus {
    outline: none;
}

#login-area {
    display: grid;
    grid-template-columns: 1rem 1rem minmax(4rem, 7rem);
    align-items: center;
    justify-items: end;
    justify-content: end;
    gap: 2rem;
}

#login-area .profile {
    height: 2.5rem;
    justify-self: center;
}

.profile {
    border-radius: 50%;
}

#name-display-area {
    display: grid;
    grid-template-columns: 3rem 1fr;
    gap: 2rem;
    align-items: center;
}

#name-display-area .profile {
    height: 4rem;
}

#name-display-area p {
    margin-top: 0;
    margin-bottom: 0;
}

#button-area {
    display: grid;
    grid-template-columns: 6rem 6rem 6rem;
    align-items: center;
    justify-content: end;
    gap: 1rem;
}

#button-area button {
    background-color: #1992D4;
    color: white;
    font-size: 1rem;
    border: none;
    padding: .5rem 1.5rem;
    border-radius: 1rem;
}

#button-area button:hover {
    cursor: pointer;
    background-color: #115d86;
}

#sidebar {
    grid-area: sidebar;
    background-color: #1992D4;
    display: grid;
    grid-template-rows: 1fr 3fr 3fr;
    gap: 4rem;
    color: white;
}

#logo-container {
    display: grid;
    grid-template-columns: 70px 1fr;
    padding: 1rem;
    align-content: space-between;
    align-items: center;
    gap: .5rem;
}

#logo {
    height: 70px;
}

#sidebar ul {
    list-style: none;
    font-weight: bold;

}

#sidebar ul li {
    margin-top: 1rem;
}

li img {
    height: 1.25rem;
    margin-right: 1rem;
    vertical-align: text-bottom;
}

#info-container {
    align-self: end;
}

#dashboard {
    grid-area: dashboard;
    background-color: #E2E8F0;
}

#dashboard {
    display: grid;
    grid-template-columns: 1fr 300px;
    gap: 1.5rem;
}

#card-container {
    padding: 1rem;
    padding-right: 0;
    display: grid;
    gap: 1.5rem;
    grid-template-rows: 2rem 1ft;
    grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
    align-content: start;
}

#card-container > p,
#misc-container > p {
    grid-column: 1 / -1;
    font-weight: bold;
    letter-spacing: .25ch;
    margin: .75rem 0 -1rem;
}
.card {
    background-color: white;
    padding: 1rem;
    border-radius: .5rem;
    box-shadow: -0px 4px 9px 0px rgba(0,0,0,.4);
    -webkit-box-shadow: -0px 4px 9px 0px rgba(0,0,0,.4)
}

.card:hover {
    /* background-color: rgb(250, 250, 250); */
    box-shadow: -0px 8px 15px 2px rgba(0,0,0,.5);
    -webkit-box-shadow: -0px 8px 15px 2px rgba(0,0,0,.5);
    cursor: pointer;
}

.projects {
    height: 280px;
    border-left: .5rem solid #F8A8E3;
}

#misc-container {
    padding: 1rem;
    padding-left: 0;
    display: grid;
    align-content: start;
    gap: 1.5rem;
}

#misc-container > .card {
    padding: 1rem;
}

#misc-container > .card p,
.projects p {
    color: rgb(131, 131, 131);
    font-size: .75rem;
    margin: 0;
}

h3 {
    margin: 0 0 .25rem;
    font-size: .8rem;
}

hr {
    margin: .75rem 0;
    border: 1px solid rgb(240, 240, 240);
}

.trending {
    display: grid;
    grid-template-columns: 3rem 1fr;
    gap: 1rem;
    align-items: center;
}

.trending > img {
    height: 3rem;
    border-radius: 50%;
}

.projects p,
.projects h3 {
    font-size: 1rem;
}

.projects {
    display: grid;
    grid-template-rows: 1fr 2rem;
    padding-top: 2rem;
}

.project-text {
    align-self: flex-start;
}

.project-icons {
    justify-self: end;
    align-self: center;
    vertical-align: text-bottom;
}

.project-icons > img {
    height: 1.5rem;
    vertical-align: text-bottom;
    margin-left: 1rem;
}

.project-icons > img:hover {
    scale: 1.2;
}